USE [master]
GO
/****** Object:  Database [Waitlist]    Script Date: 3/4/2026 11:23:31 PM ******/
CREATE DATABASE [Waitlist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Waitlist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Waitlist.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Waitlist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Waitlist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Waitlist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Waitlist]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[OrgName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[ProvinceID] [int] NOT NULL,
	[ZipCode] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](10) NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Queue]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[DateTime] [timestamp] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_Queue] PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceType] [int] NOT NULL,
	[ServiceDescription] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](60) NULL,
	[Phone] [varchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [OrgName], [FirstName], [LastName], [Phone], [Address], [City], [ProvinceID], [ZipCode]) VALUES (1, N'ABC Company', N'James', N'Bond', N'9876543210', N'10 Queen Elizabeth', N'Toronto', 1, N'ABC XYZ')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [AccountID]) VALUES (1, N'James', N'Bond', N'jamesbond@gmail.com', N'9087654321', 1)
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [AccountID]) VALUES (2, N'James123', N'Bond', N'jamesbond@gmail.com', N'9999999999', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [ServiceType], [ServiceDescription]) VALUES (1, 1, N'restaurant waitlist')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [AccountID], [FirstName], [LastName], [UserName], [Email], [Phone]) VALUES (1, 1, N'Ruhbaani', N'Singh', N'ruhbaani', N'r@b.com', N'123456789')
INSERT [dbo].[Users] ([UserID], [AccountID], [FirstName], [LastName], [UserName], [Email], [Phone]) VALUES (6, 1, N'string', N'string', N'string', N'string', N'string')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_AccountID]  DEFAULT ((1)) FOR [AccountID]
GO
ALTER TABLE [dbo].[Queue] ADD  CONSTRAINT [DF_Queue_ServiceID]  DEFAULT ((1)) FOR [ServiceID]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD  CONSTRAINT [FK_Queue_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Queue] CHECK CONSTRAINT [FK_Queue_Customer]
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD  CONSTRAINT [FK_Queue_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Queue] CHECK CONSTRAINT [FK_Queue_Service]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Account]
GO
/****** Object:  StoredProcedure [dbo].[CreateAccount]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateAccount]
-- Add the parameters for the stored procedure here
	@AccountID int,
    @OrgName nvarchar(50),
    @FirstName nvarchar(50),
    @LastName nvarchar(50),
    @Phone nvarchar(50),
    @Address nvarchar(100),
    @City nvarchar(50),
    @ProvinceID int,
    @ZipCode nvarchar(10)
	AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Account( 
       OrgName 
      , FirstName 
      , LastName 
      , Phone 
      , Address 
      , City 
      , ProvinceID 
      , ZipCode )
	VALUES ( 
        @OrgName 
      , @FirstName 
      , @LastName 
      ,@Phone 
      , @Address 
      , @City 
      , @ProvinceID 
      , @ZipCode 
	  )
END
GO
/****** Object:  StoredProcedure [dbo].[CreateCustomer]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateCustomer] 
	-- Add the parameters for the stored procedure here
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
	@email nvarchar(50),
	@phone nvarchar(50),
	@AccountID int
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/****** Script for SelectTopNRows command from SSMS  ******/
	declare @customer_id int
	select @customer_id = CustomerID
    from Customer
    where Phone = @Phone
    if (@customer_id is null)
		begin
		INSERT INTO [dbo].[Customer] (FirstName,LastName,Email,Phone,AccountID) 
						VALUES (@FirstName,@LastName,@Email,@Phone,@AccountID)       
        end
	else
		begin
		UPDATE [dbo].[Customer] 
		SET 
			FirstName = @FirstName, 
			LastName = @LastName, 
			Email = @Email,
			Phone = @Phone,
			AccountID = @AccountID
		WHERE
			Phone = @Phone
		end



END
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateUser]
	-- Add the parameters for the stored procedure here
		@UserID int
      ,@AccountID int
      ,@FirstName nvarchar(50)
      ,@LastName nvarchar(50)
      ,@UserName nvarchar(50)
      ,@Email nvarchar(50)
      ,@Phone nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO WTUsers (UserID
      ,AccountID
      ,FirstName
      ,LastName
      ,UserName
      ,Email
      ,Phone)

	  VALUES(
		@UserID
      ,@AccountID 
      ,@FirstName
      ,@LastName
      ,@UserName
      ,@Email
      ,@Phone
	  )
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUsers] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select * from WTUsers

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccount]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateAccount]
-- Add the parameters for the stored procedure here
	@AccountID int,
    @OrgName nvarchar(50),
    @FirstName nvarchar(50),
    @LastName nvarchar(50),
    @Phone nvarchar(50),
    @Address nvarchar(100),
    @City nvarchar(50),
    @ProvinceID int,
    @ZipCode nvarchar(10)
	AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Account SET
       OrgName = @OrgName 
      , FirstName = @FirstName 
      , LastName = @LastName 
      , Phone = @Phone 
      , Address = @Address 
      , City = @City 
      , ProvinceID =  @ProvinceID 
      , ZipCode =  @ZipCode
	  
	
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 3/4/2026 11:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateUser]
	-- Add the parameters for the stored procedure here
	   @UserID int
      ,@AccountID int
      ,@FirstName nvarchar(50)
      ,@LastName nvarchar(50)
      ,@UserName nvarchar(50)
      ,@Email nvarchar(50)
      ,@Phone nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE WTUsers SET
	    AccountID = @AccountID 
      , FirstName = @FirstName
      , LastName = @LastName
      , UserName = @UserName
      , Email = @Email
      , Phone = @Phone

END
GO
USE [master]
GO
